<div class="loginmaincontainer">
  <div class="loginheader">
    <h1>TravelStories</h1>
    <h3>Share your travels with the world</h3>
  </div>

  <div class="loginformcontainer">
    <form action="/posts" method="post">
      <input
        class="logininput"
        type="text"
        name="username"
        placeholder="Username"
      />
      <br />
      <input
        class="logininput"
        type="password"
        name="password"
        placeholder="Password"
      />
      <br />
      <input class="loginbtn" type="submit" value="Login" />
    </form>

    <a href="/google">Login with Google</a>

    <div class="forgotorcreatecontainer">
      <div class="forgotorcreate">Forgot your login details?
        <a href="/forgot-password">Click here.</a></div>
      <div class="forgotorcreate">Or</div>
      <div class="forgotorcreate">Dont have an account?
        <a href="/create-account">Create one here</a></div>
    </div>
  </div>
</div>