<div class="notloggedinbody">

  <div class="notloggedinlogocontainer">
    <img
      class="travelstories-logo"
      src="/images/TravelStories-logga-slogan.png"
      alt="TravelStories logo"
    />
  </div>

  <div class="centercontainer">
    <div class="centerbtn">
      <button class="generealbtn greenbtn">
        <a class="loginbtn" href="/to-login">Log in</a>
      </button>
      <div class="textalign">Or</div>
      <button class="generealbtn">
        <a href="/create-account">Create account</a>
      </button>
    </div>
  </div>
</div>