<a href="/logout">Log out</a>
<h2>create new post</h2>

<form action="/posts/new-post" method="post">

  <input type="text" name="title" placeholder="enter title" />
  <br />
  <textarea name="content" placeholder="enter content"></textarea>
  <input type="submit" value="save" />
</form>