<a href="/logout">Log out</a> 
<div class="loginmaincontainer">
  <div class="loginheader">
    <h1>TravelStories</h1>
</div>

<h3>Logged in as {{username}}</h3>
<h2>All travel stories</h2>
<div class="postcontainer">
{{#each articles}}

    <article>
        <h3>{{title}}</h3>
        <p class = "post-date">{{formateDate time}}</p>
        <p><a href="/posts/read-post/{{_id}}">read post</a></p>
    </article>
{{/each}}
</div>
<a href="/posts/new-post">new post</a>