* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginmaincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.loginheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotorcreatecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registercontainer {
  display: flex;
  justify-content: center;
}

.registerform {
  display: flex;
  flex-direction: column;
}

/* STYLING FÖR TESTER */
.comments-border-test {
  border: 1px solid black;
}
