* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginbackground {
  height: 100vh;
}

.loginmaincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.loginheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginformcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logininput {
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  margin: 10px;
}
.loginbtn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 10px;
  background: none;
}

.loginbtn:hover {
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: scale(1.1);
}
.loginbtn:active {
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: scale(1);
}

.forgotorcreatecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.forgotorcreate {
  margin-top: 10px;
}

.registercontainer {
  display: flex;
  justify-content: center;
}

.registerform {
  display: flex;
  flex-direction: column;
}
