<div class="notloggedinbody">

  <div class="notloggedinlogocontainer">
    <img
      class="travelstories-logo"
      src="/images/TravelStories-logga-slogan.png"
      alt="TravelStories logo"
    />
  </div>

  <div class="centercontainer centerlogin">
    <div class="loginpage createaccounttext">
      Fill in the information below to create an account
    </div>
    <form class="registerform" action="/register" method="post">
      <input
        class="logininput loginpage"
        type="text"
        name="fullName"
        placeholder="First and last name"
      />
      <input
        class="logininput loginpage"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="logininput loginpage"
        type="password"
        name="password"
        placeholder="Password"
      />
      <input
        class="logininput loginpage"
        type="password"
        name="confirmPassword"
        placeholder="Password again"
      />

      <input
        class="loginbtn generealbtn loginpage"
        type="submit"
        value="Create account"
      />
    </form>
  </div>
</div>