<div class="loginmaincontainer">
  <div class="loginheader">
    <h1>TravelStories</h1>
    <h3>Share your travels with the world</h3>
  </div>
</div>

<div class="registercontainer">
  <form class="registerform" action="/register" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input
      type="password"
      name="confirmPassword"
      placeholder="Password again"
    />
    {{! <input type="text" name="secret" placeholder="Secret" /> }}
    <input type="submit" value="Create account" />
  </form>
</div>