<div class="notloggedinbody">

  <div class="notloggedinlogocontainer">
    <img
      class="travelstories-logo"
      src="/images/TravelStories-logga-slogan.png"
      alt="TravelStories logo"
    />
  </div>
  <div class="successcreateaccount">
    {{#if newUser}}
      <div>You have successfully created an account</div>
    {{/if}}
  </div>

  {{#if newUser}}
    <div class="centercontainer centerlogin">
      <form class="loginformcontainer" action="/posts" method="post">
        <input
          class="logininput"
          type="text"
          name="username"
          placeholder="Username"
        />
        <input
          class="logininput loginpage"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input
          class="loginbtn generealbtn loginpage"
          type="submit"
          value="Login"
        />

        <div class="loginpage">OR</div>

        <button class="googleloginbtn loginpage generealbtn">
          <i class="fab fa-google"></i>
          <a href="/google">Login with Google</a>
        </button>
      </form>

    </div>
  {{else}}
    <div class="centercontainer centerlogin">
      <form class="loginformcontainer" action="/posts" method="post">
        <input
          class="logininput"
          type="text"
          name="username"
          placeholder="Username"
        />
        <input
          class="logininput loginpage"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input
          class="loginbtn generealbtn loginpage"
          type="submit"
          value="Login"
        />

        <div class="loginpage">OR</div>

        <button class="googleloginbtn loginpage generealbtn">
          <i class="fab fa-google"></i>
          <a href="/google">Login with Google</a>
        </button>
      </form>

    </div>
  {{/if}}
</div>